body{
    background-color:#322d4c;
}
.container{
    background-color:white;
    width:100vh;
    height:60vh;
    padding:30px;
    margin:auto;
    border-radius: 20px;
    font-family: new;
    font-weight: lighter;
    
}
.container img{
    max-width:50%;
    max-height:101%;
    float:right;
}
h1{
    color:rgb(26, 19, 78);
}
label{
    margin:20px;
    padding:10px;
    color:rgb(26, 19, 78);
    font-size: small;
    font-weight:bold;
}
input{
    margin:5px;
    padding:10px;
    border-radius: 5px;
    border-top:none;
    border:1px solid rgb(212, 195, 195);
    color:rgb(192, 186, 186);

}

.container button{
margin:10px;
padding:10px;
border-radius:5px;
background-color:rgb(36, 27, 102);
color:white;
}
@font-face {
    font-family:'new' ;
    src: url(Roboto-Regular.ttf);
}

button:hover{
    background-color:rgba(246, 68, 28, 0.907);
    cursor:pointer;

}
table{
    padding:20px 10px;
}
input:hover{
    color:black;
}